services:
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    restart: unless-stopped

    environment:
      TZ: Europe/Paris
      FTLCONF_webserver_api_password: "change_me"
      FTLCONF_dns_listeningMode: "all"

    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8081:80/tcp"

    volumes:
      - ./etc-pihole:/etc/pihole
      - ./etc-dnsmasq.d:/etc/dnsmasq.d

    networks:
      - proxy

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=Host(`pihole.home`)"
      - "traefik.http.routers.pihole.entrypoints=web"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"

networks:
  proxy:
    external: true
